.jumboTron {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#myCanvas {
    height: 50vh;
    width: 50 vw;
    margin: auto;
}

.name {
    font-size: 5rem;
    margin: 0;
    color: lavender;
    margin: auto;
    font-family: serif;
}