@import "./aboutMe.css";
@import "./contact.css";
@import "./jumboTron.css";
@import "./projects.css";
@import "./team.css";

body {
    margin: 0;
    background-color: darkslategrey;
}

.article {
    min-height: 98vh;
    width: 95vw;
    border-radius: 20px;
    box-shadow: 10px 10px 5px;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    border: 5px solid black;
}

.label {
    text-align: center;
    text-decoration: underline 5px;
    font-size: 4rem;
    width: 100%;
    height: fit-content;
    margin-top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: rgba(245, 245, 245, 0.144);

}