.team { 
    background: #8669ac;
    flex-direction: column;
}

.catCard {
    height: 20vh;
    width: 95%;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    display: flex;
    overflow: scroll;
}

.imgHolder {
    width: 60%;
    height: 85%;
    margin: auto;
    margin-left: 15px;
    /* border: 1px solid black; */
    border-radius: 300px;
    max-width: 300px;
    /* background: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgHolder img {
    height: 90%;
    width: 70%;
    border-radius: 10px;
    border: 1px solid black;
}

.catName {
    text-align: center;
    margin: auto;
}

.catCard p {
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
}

.firstCat {
    background: #c0e9ef;
}

.secondCat {
    background: #c4d8f3;
}

.thirdCat {
    background: #c8c7f7;;
}

.fourthCat {
    background: #ccb5fb;
}

.catCard::-webkit-scrollbar {
    display: none;
}

  /* Hide scrollbar for IE, Edge and Firefox */
.catCard {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}